{% extends 'base2.html.twig' %}

{% block wrapper %}

    <div class="row title_row">
        <div class="col-xs-12 col-md-offset-3 col-md-6 title">
            <h1>ADMINISTRATION</h1>
        </div>
    </div>

    {% for message in app.flashes('success') %}
        <div class="flash-success">
            {{ message }}
        </div>
    {% endfor %}

    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab" id="infos">Conseils</a></li>
        <li><a href="#tab2" data-toggle="tab" id="news">News</a></li>
        <li><a href="#tab3" data-toggle="tab" id="birds">Oiseaux</a></li>
    </ul>

    <div class="tab-content">

        <div class="tap-pane active table-responsive" id="tab1">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>Contenu</th>
                    <th>Date</th>
                    <th>Publication</th>
                </tr>
                </thead>

                <tbody>

                {% for infos in listinfos %}
                <tr>
                    <td>{{ infos.title }}</td>
                    <td>{{ infos.content|striptags }}</td>
                    <td>{{ infos.dateCreation|date("d/m/Y") }}</td>
                    <td><a href="{{ path('update_info', {'id':infos.id}) }}"><span class="fas fa-edit"></span></a><a href="#" data-toggle="modal" data-target="#delete_info"><span class="fas fa-times"></span></a></td>
                </tr>

                <div class="modal fade" id="delete_info" tabindex="-1" role="dialog" aria-labelledby="delete-info" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="delete_info_title">Confirmation de suppression</h4>
                            </div>
                            <div class="modal-body">
                                <p>Confirmez-vous la suppression de cette info ?</p>
                                <a href="{{ path('delete_info', {'id':infos.id}) }}" class="btn btn-success">Supprimer</a>
                            </div>
                            <div class="modal-footer">
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>
                {% endfor %}

                </tbody>
            </table>
        </div>

        <div class="tap-pane table-responsive" id="tab2">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>Contenu</th>
                    <th>Date</th>
                    <th>Publication</th>
                </tr>
                </thead>

                <tbody>
                {% for news in listnews %}
                    <tr>
                        <td>{{ news.title }}</td>
                        <td>{{ news.content|striptags }}</td>
                        <td>{{ news.dateCreation|date("d/m/Y") }}</td>
                        <td><a href="{{ path('update_news', {'id':news.id}) }}"><span class="fas fa-edit"></span></a><a href="#" data-toggle="modal" data-target="#delete_news"><span class="fas fa-times"></span></a></td>
                    </tr>
                    <div class="modal fade" id="delete_news" tabindex="-1" role="dialog" aria-labelledby="delete-news" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="delete_news_title">Confirmation de suppression</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Confirmez-vous la suppression de cette news ?</p>
                                    <a href="{{ path('delete_news', {'id':news.id}) }}" class="btn btn-success">Supprimer</a>
                                </div>
                                <div class="modal-footer">
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div>
                {% endfor %}

                </tbody>
            </table>
        </div>

        <div class="tap-pane table-responsive" id="tab3">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Date de naissance</th>
                    <th>Description</th>
                    <th>Prix</th>
                    <th>Réservation</th>
                    <th>Publication</th>
                </tr>
                </thead>

                <tbody>
                {% for birds in listbirds %}
                    <tr>
                        <td>{{ birds.name }}</td>
                        <td>{{ birds.birthdate|date("d/m/Y") }}</td>
                        <td>{{ birds.description }}</td>
                        <td>{{ birds.price|number_format(2, ',', ' ') }}</td>
                        {% if birds.reservation == false %}
                        <td>Oiseau non réservé</td>
                        {% else %}
                            <td><a href="{{ path('delete_reservation', {'id':birds.id}) }}">Annuler résa</a></td>
                        {% endif %}
                        <td><a href="{{ path('update_bird', {'id':birds.id}) }}"><span class="fas fa-edit"></span></a><a href="#" data-toggle="modal" data-target="#delete_bird"><span class="fas fa-times"></span></a></td>
                    </tr>

                <div class="modal fade" id="delete_bird" tabindex="-1" role="dialog" aria-labelledby="delete-bird" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="delete_bird_title">Confirmation de suppression</h4>
                            </div>
                            <div class="modal-body">
                                <p>Confirmez-vous la suppression de cet oiseau ?</p>
                                <a href="{{ path('delete_bird', {'id':birds.id}) }}" class="btn btn-success">Supprimer</a>
                            </div>
                            <div class="modal-footer">
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

    <div id="addinfo_button">
        <a href="{{ path('add_info') }}" class="btn btn-success">Créer un conseil</a>
    </div>

    <div id="addnews_button">
        <a href="{{ path('add_news') }}" class="btn btn-success">Créer une news</a>
    </div>

    <div id="addbird_button">
        <a href="{{ path('add_bird') }}" class="btn btn-success">Ajouter un oiseau</a>
    </div>

{% endblock %}
