{% extends 'base2.html.twig' %}

{% block wrapper %}

    <div class="row" id="admin_row">
        <div id="admin" class="col-xs-12 col-md-offset-3 col-md-6">
            <h1>ADMINISTRATION</h1>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab" id="infos">Conseils</a></li>
        <li><a href="#tab2" data-toggle="tab" id="news">News</a></li>
        <li><a href="#tab3" data-toggle="tab" id="birds">Oiseaux</a></li>
    </ul>

    <div class="tab-content">

        <div class="tap-pane active" id="tab1">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>Contenu</th>
                    <th>Date</th>
                    <th>Publication</th>
                </tr>
                </thead>

                <tbody>
                {% for infos in listinfos %}
                <tr>
                    <td>{{ infos.title }}</td>
                    <td>{{ infos.content }}</td>
                    <td>{{ infos.dateCreation|date("d/m/Y") }}</td>
                    <td><a href="{{ path('update_info', {'id':infos.id}) }}"><span class="fas fa-edit"></span></a><a href="{{ path('delete_info', {'id':infos.id}) }}"><span class="fas fa-times"></span></a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="tap-pane" id="tab2">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>Contenu</th>
                    <th>Date</th>
                    <th>Publication</th>
                </tr>
                </thead>

                <tbody>
                {% for news in listnews %}
                    <tr>
                        <td>{{ news.title }}</td>
                        <td>{{ news.content }}</td>
                        {#<td>{{ news.dateCreation|date("d/m/Y") }}</td>#}
                        <td><a href="#"><span class="fas fa-edit"></span></a><a href="#"><span class="fas fa-times"></span></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="tap-pane" id="tab3">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Date de naissance</th>
                    <th>Description</th>
                    <th>Prix</th>
                    <th>Réservation</th>
                </tr>
                </thead>

                <tbody>
                {% for birds in listbirds %}
                    <tr>
                        <td>{{ birds.name }}</td>
                        <td>{{ birds.birthdate|date("d/m/Y") }}</td>
                        <td>{{ birds.description }}</td>
                        <td>{{ birds.price }}</td>
                        <td><a href="#"><span class="fas fa-edit"></span></a><a href="#"><span class="fas fa-times"></span></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div id="addinfo_button">
        <a href="{{ path('add_info') }}" class="btn btn-success">Créer un conseil</a>
    </div>

    <div id="addnews_button">
        <a href="#" class="btn btn-success">Créer une news</a>
    </div>

    <div id="addbird_button">
        <a href="#" class="btn btn-success">Ajouter un oiseau</a>
    </div>

{% endblock %}
