<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="Découvrez notre élevage d'oiseaux."/>
        <title>{% block title %}Elevage de Coco{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}"/>
        <link href="https://fonts.googleapis.com/css?family=Unica+One" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet"/>
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet"/>
        {% endblock %}
    </head>

    <body>

        <div class="container-fluid">

            <header>{% block header %}

                <div class="nav-side-menu">
                    <div class="brand">
                        <img id="logo" src="{{ asset('images/logo.png') }}" alt="logo de l'elevage" />
                    </div>

                        <button type="button" id="hamburger" data-toggle="collapse" data-target="#menu-content">
                          <span class = "fas fa-align-justify"></span>
                        </button>

                        <div class="menu-list" id="menu">

                            <ul id="menu-content" class="menu-content collapse out">
                                <li>
                                    <a class="active" href="{{ path('admin') }}">TABLEAU DE BORD</a>
                                </li>

                                <li  data-toggle="collapse" data-target="#create" class="collapsed">
                                    <a href="#">CREER</a>
                                </li>
                                <ul class="sub-menu collapse" id="create">
                                    <li><a href="#">AJOUTER UN CONSEIL</a></li>
                                    <li><a href="#">AJOUTER UNE NEWS</a></li>
                                    <li><a href="#">AJOUTER UN OISEAU</a></li>
                                </ul>

                                <li data-toggle="collapse" data-target="#update" class="collapsed">
                                    <a href="#">MODIFIER</a>
                                </li>
                                <ul class="sub-menu collapse" id="update">
                                    <li><a href="#">MODIFIER UN CONSEIL</a></li>
                                    <li><a href="#">MODIFIER UNE NEWS</a></li>
                                    <li><a href="#">MODIFIER UN OISEAU</a></li>
                                </ul>

                                <li>
                                    <a href="#">GESTION UTILISATEUR</a>
                                </li>

                                <li>
                                    <a href="{{ path('home') }}">RETOUR ACCUEIL</a>
                                </li>
                            </ul>
                        </div>
                </div>
            {% endblock %}
            </header>

            <div id="wrapper">{% block wrapper %}
            {% endblock %}
            </div>
        </div>

        <footer>{% block footer %}
            <div id="reseaux" class="text-center">
                <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/">
                <span class="fab fa-facebook"></span>
                </a>
                <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/">
                <span class="fab fa-twitter"></span>
                </a>
                <p><a class="connexion" href="#">Se connecter</a></p>
            </div>
        {% endblock %}
        </footer>

        {% block javascripts %}
            <script src="{{ asset('build/js/app.js') }}"></script>
            <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
            <script>
                tinymce.init({
                    selector: '#add_info_content, #add_news_content',
                    setup: function (editor) {
                        editor.on('change', function () {
                            editor.save();
                        });
                    }
                });
            </script>
        {% endblock %}
    </body>

</html>
