<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content="Découvrez notre élevage d'oiseaux."/>
        <title>{% block title %}Elevage de Coco{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}"/>
        <link href="https://fonts.googleapis.com/css?family=Unica+One" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet"/>
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet"/>
        {% endblock %}
    </head>

    <body>

        <div class="container-fluid">

            <header>{% block header %}

                <div id="cookie">
                    <p>Ce site utilise des cookies pour améliorer votre navigation.
                        <button id="ok_cookie" class="btn btn-success">D'accord !</button>
                    </p>
                </div>

                <div class="nav-side-menu">
                    <div class="brand">
                        <img id="logo" src="{{ asset('images/logo.png') }}" alt="logo de l'elevage" />
                    </div>

                        <button type="button" id="hamburger" data-toggle="collapse" data-target="#menu-content">
                          <span class = "fas fa-align-justify"></span>
                        </button>

                        <div class="menu-list" id="menu">

                            <ul id="menu-content" class="menu-content collapse out">
                                <li {% if app.request.attributes.get('_route') == 'home' %} class="active" {% endif %}>
                                    <a  href="{{ path('home') }}">NOTRE ELEVAGE</a>
                                </li>

                                <li {% if app.request.attributes.get('_route') == 'conseils' %} class="active" {% endif %}>
                                    <a href="{{ path('conseils') }}">NOS CONSEILS</a>
                                </li>

                                <li {% if app.request.attributes.get('_route') == 'news' %} class="active" {% endif %}>
                                    <a href="{{ path('news') }}">DERNIERES NOUVELLES</a>
                                </li>

                                <li {% if app.request.attributes.get('_route') == 'reservation' %} class="active" {% endif %}>
                                    <a href="{{ path('reservation') }}">OISEAUX DISPONIBLES</a>
                                </li>

                                <li {% if app.request.attributes.get('_route') == 'contact' %} class="active" {% endif %}>
                                    <a href="{{ path('contact') }}">NOUS CONTACTER</a>
                                </li>
                            </ul>
                        </div>
                </div>
            {% endblock %}
            </header>

            <div id="wrapper">{% block wrapper %}
            {% endblock %}
            </div>
        </div>

        <footer>{% block footer %}
            <div id="reseaux" class="text-center">
                <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/">
                <span class="fab fa-facebook"></span>
                </a>
                <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/">
                <span class="fab fa-twitter"></span>
                </a>
                <p><a href="{{ path('mentions_legales') }}">Mentions légales</a> -
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin') }}">Tableau de bord </a> -
                    <a class="connexion" href="{{ path('logout') }}">Se déconnecter</a>
                {% else %}
                    <a class="connexion" href="{{ path('login') }}">Se connecter</a></p>
                {% endif %}
            </div>
        {% endblock %}
        </footer>

        {% block javascripts %}
            <script src="{{ asset('build/js/app.js') }}"></script>
            <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        {% endblock %}
    </body>

</html>
