{% extends 'base.html.twig' %}

{% block wrapper %}
    <div class="row title_row">
        <div class="col-xs-12 col-md-offset-3 col-md-6 title">
            <h1>{{ infos.category }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-offset-3 col-md-6 title">
            {% if infos.image is not null %}
                <img class="illustration" src="{{ asset('images/' ~ infos.image) }}" />
            {% endif %}
            <p class="date">Publié le {{ infos.dateCreation|date("d/m/Y") }}</p>
            <h2>{{ infos.title }}</h2>
            <p class="content">{{ infos.content }}</p>
        </div>
    </div>

{% endblock %}
