{% extends 'base.html.twig' %}

{% block wrapper %}

    <div class="row" id="admin_row">
        <div id="admin" class="col-xs-12 col-md-offset-3 col-md-6">
            <h1>ADMINISTRATION</h1>
        </div>
    </div>

    <ul class="nav nav-tabs">
        <li class="active"><a href="#listinfos" data-toggle="tab">Conseils</a></li>
        <li><a href="#listnews" data-toggle="tab">News</a></li>
        <li><a href="#listbirds" data-toggle="tab">Oiseaux</a></li>
    </ul>

    <div class="tab-content">

        <div class="tap-pane active" id="tab1">
            <table class="table table-striped table-bordered table-condensed" id="listinfos">
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>Contenu</th>
                    <th>Date</th>
                    <th>Publication</th>
                </tr>
                </thead>

                <tbody>
                {% for infos in listinfos %}
                <tr>
                    <td>{{ infos.title }}</td>
                    <td>{{ infos.content }}</td>
                    {#<td>{{ infos.dateCreation|date("d/m/Y") }}</td>#}
                    <td><a href="#"><span class="fas fa-edit"></span></a><a href="#"><span class="fas fa-times"></span></a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="tap-pane" id="tab2">
            <table class="table table-striped table-bordered table-condensed" id="listnews">
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>Contenu</th>
                    <th>Date</th>
                    <th>Publication</th>
                </tr>
                </thead>

                <tbody>
                {% for news in listinfos %}
                    <tr>
                        <td>{{ news.title }}</td>
                        <td>{{ news.content }}</td>
                        {#<td>{{ news.dateCreation|date("d/m/Y") }}</td>#}
                        <td><a href="#"><span class="fas fa-edit"></span></a><a href="#"><span class="fas fa-times"></span></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="tap-pane" id="tab3">
            <table class="table table-striped table-bordered table-condensed" id="listbirds">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Date de naissance</th>
                    <th>Description</th>
                    <th>Prix</th>
                    <th>Réservation</th>
                </tr>
                </thead>

                <tbody>
{#                {% for birds in listinfos %}
                    <tr>
                        <td>{{ birds.name }}</td>
                        <td>{{ birds.birthdate }}</td>
                        <td>{{ birds.description }}</td>
                        <td>{{ birds.price }}</td>
                        <td><a href="#"><span class="fas fa-edit"></span></a><a href="#"><span class="fas fa-times"></span></a></td>
                    </tr>
                {% endfor %}#}
                </tbody>
            </table>
        </div>
    </div>

    <div id="add_button">
        <a href="{{ path('add_info') }}"class="btn btn-success">Créer une info</a>
    </div>

{% endblock %}
