{% block form %}
    {{ form_start(form) }}
        {{ form_row(form.firstname, { 'label': 'Votre prénom' }) }}
        {{ form_row(form.lastname, { 'label': 'Votre nom' }) }}
        {{ form_row(form.username, { 'label': 'Votre nom d\'utilisateur' }) }}
        {{ form_row(form.email, { 'label': 'Votre adresse e-mail' }) }}
        {{ form_row(form.password.first, { 'label': 'Votre mot de passe' }) }}
        {{ form_row(form.password.second, { 'label': 'Confirmation du mot de passe' }) }}
    <div class="form-group row">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <button type="submit" class="btn btn-success">Créer</button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
